# Backend
backend/.env
backend/main.exe
backend/main
backend/automation.db
backend/debug_*.html
backend/vendor/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# IDE
.vscode/
.idea/
